{% extends 'base_list.html' %}
{#{% extends 'base_list.html' %}#}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block list_title %}Lista Tavoli{% endblock %}

{% block optional_content %}
	<form action="" method="POST">{% csrf_token %}
{% endblock %}

	{% block table_head %}
		{% csrf_token %}
		<th>Nome</th>
		<th>Abilitato</th>
		<th>Azioni</th>
	{% endblock %}

	{% block table_body %}
	{#	{% crispy formset  %}#}
		{% for form in formset %}
			<tr>
				<td>
					{{ form.nome.errors }}
					{{ form.nome }}
				</td>
				<td>
					{{ form.nome.errors }}
					{{ form.abilitato }}
				</td>
				<td>
					{% if form.nome.value %}
						<a href="{% url 'admin_tools:tavolo-detail' form.nome.value %}">Dettaglio</a>
						<a href="{% url 'admin_tools:tavolo-delete' form.nome.value %}">Elimina</a>
					{% else %}
						Qua puoi creare un nuovo tavolo
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% endblock %}

{% block optional_tail_content %}
		{{ formset.management_form }}
		<input type="submit" value="Conferma">
	</form>
{% endblock %}