{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Dashboard Prenotazioni{% endblock %}

<h1>Dashboard Prenotazioni</h1>>

{% block content %}
{#	<form method="post">{% csrf_token %}#}
{#		{{ form|crispy }}#}
{#		<input type="submit" value="Visualizza">#}
{#	</form>#}
	{% crispy form %}

	<div id="liste">

		{% include './lista_tavoli.html' with orario='Pranzo' prenotati=prenotati_pranzo %}

		{% include './lista_tavoli.html' with orario='Cena' prenotati=prenotati_cena %}

	</div>


{% endblock %}



{% block optional_script %}
	<script type="text/javascript">
	$('#liste > h3').click(function(){
		$(this).next().slideToggle();
		return false;
	});
	$(document).ready(function() {
		$('.dateinput').datepicker({ format: "yyyy/mm/dd" });
	});
	</script>
{% endblock %}