{% extends 'base_list.html' %}

{% block list_title %}Dashboard Prenotazioni{% endblock %}

{% block content_title %}Dashboard Prenotazioni{% endblock %}

{% block optional_content %}
	<form method="post">{% csrf_token %}
		{{ form }}
		<input type="submit" value="Visualizza">
	</form>
{% endblock %}

{% block table_head %}
	<th>Nome</th>
	<th>Abilitato/Disabilitato</th>
	<th>Stato</th>
{% endblock %}

{% block table_body %}
	{% for tavolo in object_list %}
		<tr>
			<td>{{ tavolo.nome }}</td>
			<td>{{ tavolo.stato }}</td>
			<td>
				{% if tavolo.nome in tavoli_prenotati %}
					Prenotato
				{% else %}
					Libero
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% endblock %}

{#{% block optional_script %}#}
{#	<script>#}
{#	$(document).ready(function() {#}
{#		$('.datepicker').datepicker();#}
{#	});#}
{#	</script>#}
{#{% endblock %}#}