{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block title %}Dashboard Prenotazioni{% endblock %}

{% block head %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

<h1>Dashboard Prenotazioni</h1>>

{% block content %}

	{% with request.resolver_match.kwargs as kwargs%}
		{% get_date kwargs.year kwargs.month kwargs.day as data_scelta %}
		<h3>{{ data_scelta|date:"l j" }} of {{ data_scelta|date:"F Y" }}</h3>
	{% endwith %}

{#	<form method="post">{% csrf_token %}#}
{#		{{ form|crispy }}#}
{#		<input type="submit" value="Visualizza">#}
{#	</form>#}
	{% crispy form  %}

	<div id="liste">

		<div>
		{% include './lista_tavoli.html' with fascia='Pranzo' orario='12' prenotati=prenotati_pranzo in_coda=in_coda_pranzo already_booked=has_already_booked_pranzo show='show' %}
		</div>
		<br/>
		<div>
		{% include './lista_tavoli.html' with fascia='Cena' orario='19' prenotati=prenotati_cena in_coda=in_coda_cena already_booked=has_already_booked_cena show='' %}
		</div>

	</div>


{% endblock %}



{% block optional_script %}
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		const input = $('#id_data');
		input.datepicker({
			format: "yyyy/mm/dd",
			minDate: +1,
			maxDate: "+1M"
		});
	});
	</script>
{% endblock %}