{#<h3>{{ orario }}</h3>#}
<button class="btn btn-link " type="button" data-toggle="collapse" data-target="#lista_{{ orario|lower }}"
		aria-expanded="false" aria-controls="lista_{{ orario|lower }}">
	{{ orario }}
</button>
<div id="lista_{{ orario|lower }}" class="collapse {{ show }}">
	<table class="table">
		<thead>
		<tr>
			<th>Nome</th>
			<th>Stato</th>
			{% if user.is_authenticated %}
				<th>Prenota</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for tavolo in object_list %}
			<tr>
				{% with request.resolver_match.kwargs as kwargs%}
					<td>{{ tavolo.nome }}</td>
					{% if tavolo.nome in prenotati %}
						<td>Prenotato</td>

						{% if user.is_authenticated %}
							<td>
								{% if orario == 'Pranzo' %}
									<a href="{% url 'booking:prenota-tavolo' tavolo.nome kwargs.year kwargs.month kwargs.day 12 %}"
									   role="button" class="btn btn-info">Mettiti in coda</a>
								{% else %}
									<a href="{% url 'booking:prenota-tavolo' tavolo.nome kwargs.year kwargs.month kwargs.day 19 %}"
									   role="button" class="btn btn-info">Mettiti in coda</a>
								{% endif %}
							</td>
						{% endif %}
					{% else %}
						<td>Libero</td>

						{% if user.is_authenticated %}
							<td>
								{% if orario == 'Pranzo' %}
									<a href="{% url 'booking:prenota-tavolo' tavolo.nome kwargs.year kwargs.month kwargs.day 12 %}"
									   role="button" class="btn btn-primary">Prenota Tavolo</a>
								{% else %}
									<a href="{% url 'booking:prenota-tavolo' tavolo.nome kwargs.year kwargs.month kwargs.day 19 %}"
									   role="button" class="btn btn-primary">Prenota Tavolo</a>
								{% endif %}
							</td>

						{% endif %}
					{% endif %}
				{% endwith %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{#<script type="text/javascript">#}
{#	$('#liste > h3').click(function(){#}
{#		$(this).next().slideToggle();#}
{#		return false;#}
{#	});#}
{#</script>#}