{#<h3>{{ orario }}</h3>#}
<button class="btn btn-link " type="button" data-toggle="collapse" data-target="#lista_{{ orario|lower }}"
		aria-expanded="false" aria-controls="lista_{{ orario|lower }}">
	{{ orario}}
</button>
<div id="lista_{{ orario|lower }}" class="collapse {{ show }}">
	<table class="table">
		<thead>
		<tr>
			<th>Nome</th>
			<th>Abilitato/Disabilitato</th>
			<th>Abilitato</th>
			{% if user.is_authenticated %}
				<th>Prenota</th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
		{% for tavolo in object_list %}
			<tr>
				<td>{{ tavolo.nome }}</td>
				<td>{{ tavolo.abilitato }}</td>
				{% if tavolo.nome in prenotati %}
					<td>Prenotato</td>

					{% if user.is_authenticated %}
						<td>
							<a role="button" class="btn btn-secondary disabled">Prenota Tavolo</a>
						</td>
					{% endif %}
				{% else %}
					<td>Libero</td>
					{% if user.is_authenticated %}
						<td>
							<a role="button" class="btn btn-primary">Prenota Tavolo</a>
						</td>
					{% endif %}
				{% endif %}

			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{#<script type="text/javascript">#}
{#	$('#liste > h3').click(function(){#}
{#		$(this).next().slideToggle();#}
{#		return false;#}
{#	});#}
{#</script>#}