{#<h3>{{ orario }}</h3>#}
<button class="btn btn-dark " type="button" data-toggle="collapse" data-target="#lista_{{ fascia|lower }}"
		aria-expanded="false" aria-controls="lista_{{ fascia|lower }}">
	{{ fascia }}
</button>

{% with request.resolver_match.kwargs as kwargs%}

	<div id="lista_{{ fascia|lower }}" class="collapse {{ show }}">
		{% if in_coda >= 0 %}
			<p id="all-booked-notice">Tutti i tavoli sono prenotati per questo orario, se sei registrato puoi metterti in coda e verrai notificato
				se un tavolo si sarà liberato. <br/>
				Al momento ci sono {{ in_coda }} persone in lista d'attesa. </p>
			{% if user.is_authenticated and not already_booked %}
				<a href="{% url 'booking:prenota-tavolo-in-coda' kwargs.year kwargs.month kwargs.day orario %}"
				   role="button" class="btn btn-info" id="btn-enqueue">Mettiti in coda</a>
			{% endif %}
		{% endif %}
		{% if user.is_authenticated and already_booked %}
			<p id="user-already-booked-notice">Hai già fatto una prenotazione per questa fascia oraria, non puoi farne altre.</p>
		{% endif %}
		<table class="table">
			<thead>
			<tr>
				<th>Nome</th>
				<th>Stato</th>
{#				{% if user.is_authenticated %}#}
				<th>Azioni</th>
{#				{% endif %}#}
			</tr>
			</thead>
			<tbody>
			{% for tavolo in object_list %}
				<tr id="row-{{ tavolo.nome }}">
					<td id="cell-nome-{{ tavolo.nome }}">{{ tavolo.nome }}</td>
					{% if tavolo.nome in prenotati %}
						<td id="cell-stato-{{ tavolo.nome }}">Prenotato</td>

						<td>
							{% if user.is_authenticated %}
								<a id="btn-book-{{ tavolo.nome }}" href="" role="button" class="btn btn-info disabled">Prenota Tavolo</a>
							{% endif %}
							<a id="btn-find-free-{{ tavolo.nome }}" href="{% url 'booking:dashboard-prenotazioni-find-for-table' tavolo.nome %}"
							   role="button" class="btn btn-primary">Trova primo giorno libero per questo tavolo</a>
						</td>

					{% else %}
						<td id="cell-stato-{{ tavolo.nome }}">Libero</td>

						{% if user.is_authenticated and not already_booked %}
							<td>
								<a id="btn-book-{{ tavolo.nome }}" href="{% url 'booking:prenota-tavolo' tavolo.nome kwargs.year kwargs.month kwargs.day orario %}"
								   role="button" class="btn btn-primary">Prenota Tavolo</a>
							</td>
						{% elif user.is_authenticated and already_booked%}
							<td>
								<a id="btn-book-{{ tavolo.nome }}" href="" role="button" class="btn btn-info disabled">Prenota Tavolo</a>
							</td>
						{% endif %}
					{% endif %}

				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endwith %}

{#<script type="text/javascript">#}
{#	$('#liste > h3').click(function(){#}
{#		$(this).next().slideToggle();#}
{#		return false;#}
{#	});#}
{#</script>#}