{% extends 'base.html' %}

{% comment %}{% block title %}
	Risto Booker
{% endblock %}{% endcomment %}

{#{% block head %}#}
{##}
{#{% endblock %}#}

{% block content %}
	<h1>Benvenuto su Risto Booker</h1>
	<p>Il modo più semplice per prenotare la tua cena perfetta!</p>

	<a href="{% url 'booking:dashboard-prenotazioni' year month day %}">Prenotazione tavoli</a>
	<br/>
	<br/>
	<a href="{% url 'foto_ricordo:foto-ricordo-list' %}">Guarda le foto ricordo caricate dagli utenti!</a>
	<br/>
	<br/>

	{% lorem %}
{% endblock %}