{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Foto Ricordo{% endblock %}

{% block content_title %}Foto ricordo caricate dagli utenti!{% endblock %}

{% block optional_content %}
	{% if user.is_authenticated %}
		<a href="{% url 'foto_ricordo:foto-ricordo-create' %}" role="button" class="btn btn-primary"
		   id="btn-go-to-upload">Carica una tua foto ricordo!</a>
	{% endif %}
{% endblock %}

{% block table_head %}
{#	<th>Foto</th>#}
{% endblock %}

{% block table_body %}
	{% for foto in object_list %}
		<tr>
			<td>
				<img src="{% get_media_prefix %}{{ foto.foto_ricordo }}" width="20%" alt="foto ricordo">
			</td>
		</tr>
	{% endfor %}
{% endblock %}